<h1>Bem-vindo ao ProvaMVC</h1>
<p>Esta é a página inicial do seu aplicativo MVC.</p>

<ul>
    <li><a asp-controller="Aluno" asp-action="Index">Gerenciar Alunos</a></li>
    <li><a asp-controller="Curso" asp-action="Index">Gerenciar Cursos</a></li>
    <li><a asp-controller="Professor" asp-action="Index">Gerenciar Professores</a></li>
    <li><a asp-controller="Matricula" asp-action="Index">Gerenciar Matrículas</a></li>
</ul>